.bar #dataTasks{
  color: black;
  font-size: 21px;
  font-family: Arial;
  font-weight: 800;
  word-wrap: break-word;
  background: white;
  border: 1px solid white;
  border-radius: 6px;
  padding: 10px;
  width: 170px;
  height: 60px;
}
section.contentTask{
  padding-top: 19px;
  width: 100%;
  height: 69vh;
  overflow: auto;
}
.contentTask .row{
  width: 400px;
  height: 140px;
  margin-bottom: 14px;
}
.contentTask .row .card{
  background-color: #282829;
  height: 100%;
  width: 100%;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  padding-left: 19px;
  padding-right: 19px;
  position: relative;
}
.row .card .head{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.row .card .head p{
  color: white;
  font-size: 26px;
  font-family: Arial;
  font-weight: 700;
  word-wrap: break-word;
  margin-left: 10px;
}

.row .card #descicao{
  color: white;
  font-size: 15px;
  font-family: Arial;
  font-weight: 400;
  word-wrap: break-word;
  height: 37px;
  overflow: hidden;
}
.row .card .menuBtns{
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  right: 10px;
  bottom: 3px;
  width: 60px;
}
.row .card .menuBtns a{
  margin-right: 10px;
}

.row .card .categ{
  display: flex;
  position: absolute;
  align-items: center;
  bottom: 10px;
}
.row .card .categ span{
  color: #ffffff;
  font-size: 14px;
  font-family: Arial;
  font-weight: 400;
  word-wrap: break-word;
  margin-left:10px;
}

/* Configurações dos tipos diferentes de prioridades */
.card.Very.High{
  border: 2px #FE6F65 solid;

}
.card.Very.High .head svg{
  stroke: #FE6F65;
  fill: #3E2F2E;
  cursor: pointer;
}
.card.Very.High .head svg:hover{
  fill: #822e28;
}

.card.High{
  border: 2px #F79513 solid;

}
.card.High .head svg{
  stroke: #F79513;
  fill: #3E3425;
  cursor: pointer;
}
.card.High .head svg:hover{
  fill: #4d3f2a;
}

.card.Moderate{
  border: 2px #5196FE solid;

}
.card.Moderate .head svg{
  stroke: #5196FE;
  fill: #2C333E;
  cursor: pointer;
}
.card.Moderate .head svg:hover{
  fill: #25354e;
}


.card.Low{
  border: 2px #9A9EA4 solid;

}
.card.Low .head svg{
  stroke: #9A9EA4;
  fill: #3A3A3A;
  cursor: pointer;
}
.card.Low .head svg:hover{
  fill: #303030;
}

/*Configuração da barra de rolagem*/
::-webkit-scrollbar {
  background-color: #d824f8;
  width: 6px;
  border-width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #9920AD;
  height: 10px;
  border-width: 2px;
}